*{
    margin: 0px;
    padding: 0px;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* width: 1440px; */
    height: 72px;
    border: 2px solid red;
}

#logo{
    width: 162.58px;
    height: 24.01px;
    background-image: url("assets/logo.jpg");
    background-size: cover;
}

#searchbar input{
    width: 360px;
    height: 42px;
    border-radius: 2rem;
    background-color: #F2F2F2;
    border: none;
}

#login p{
    font-family: sans-serif;
    font-size: 16px;
    line-height: 20.8px;
    text-align: right;
}

#login button{
    width: 24px;
    height: 24px;
    background-color: #F2F2F2;
    border: none;
}

.filters{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 1440px;
    height: 72px;
    border: 2px solid red;
}

.cse{
    /* width: 1440px; */
    height: 440px;
    border: 2px solid red;
    background-image: url("assets/img1.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.content{
    width: 692px;
    height: 1751px;
    margin-left: 200px;
    border: 2px solid red;
}

.post{
    width: 692px;
    border: 2px solid blue;
}

.job{
    width: 692px;
    border: 2px solid blue;
}

.post{
    width: 692px;
    height: 490px;
}

#job{
    width: 692px;
    height: 269px;
}

.image img {
    width: 692px;
    height: 220px;
    background-size: contain;
}
  